body {
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 800;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 900;
}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul,
li {
    font-family: monospace;
    font-size: 18psx;
}

ul {
    font-weight: bold;
    color: darkorange;
    text-decoration: underline;
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
}